workflows/K8s Remediation AI Workflow.json
{
  "name": "K8s Remediation AI Workflow",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "replyMarkup": "=",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        352
      ],
      "id": "a7df90a0-5465-49c6-a3d6-d6b755bea7d6",
      "name": "Send a text message",
      "webhookId": "a9667c68-15e1-48f3-b0ce-837dcfbae758",
      "credentials": {
        "telegramApi": {
          "id": "6ojqn9gxfLoSJbmS",
          "name": "Telegram account"
        }
      },
      "notes": "⚠️ REPLACE CHAT ID: Change -1003747387698 to your own Telegram chat ID. Sends the 3-line remediation result: Status (RESOLVED/ACTION_TAKEN/FAILED/NO_ACTION_NEEDED), Action, Result."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Recover the issues identified, these are the details of the cluster:\n- Issue Type:  {{ $json.issue_type }}\n- Affected Namespace:  {{ $json.affected_namespace }}\n- Affected Resource: {{ $json.affected_resource }}\n- Root Cause: {{ $json.root_cause }}\n- Summary: {{ $json.summary }}\n\nAttempt to execute the suggested commands: {{ $json.suggested_commands }}\n",
        "options": {
          "systemMessage": "You are a Kubernetes Site Reliability Engineer executing a remediation task.\n\nIMPORTANT RULES:\n- Execute ONLY the exact command(s) provided in suggested_commands. Do NOT invent, add, or substitute any other commands.\n- Do NOT run diagnostic commands (describe, get, logs, grep, sleep) before or after the fix. Execute the suggested command directly.\n- If suggested_commands is empty or says \"no action required\", do NOT call any tool. Output NO_ACTION_NEEDED immediately.\n- Prefer non-destructive fixes.\n- Do not delete workloads unless absolutely necessary.\n- If the issue has already auto-resolved, confirm that and take no action.\n\nIMPORTANT OUTPUT FORMAT (STRICT):\nAfter executing (or deciding not to execute), return exactly 3 lines of plain text. No markdown, no bullet points, no tool-call syntax, no extra lines.\n\nStatus: [RESOLVED | ACTION_TAKEN | FAILED | NO_ACTION_NEEDED]\nAction: [what command was run, or why no action was taken — max 20 words]\nResult: [current state of the affected resource — max 15 words]",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        352
      ],
      "id": "6419de0c-77af-48f1-95f7-ca8925a7e284",
      "name": "AI Agent",
      "notes": "Remediation agent using Claude Haiku 4.5. Executes ONLY the suggested_commands from the RCA report. Prefers non-destructive fixes and confirms if the issue already auto-resolved."
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "issue_type"
            },
            {
              "name": "severity"
            },
            {
              "name": "affected_namespace"
            },
            {
              "name": "affected_resource"
            },
            {
              "name": "root_cause"
            },
            {
              "name": "suggested_commands"
            },
            {
              "name": "summary"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        352
      ],
      "id": "83c50e56-62f9-4f91-82ab-4cf73612f8d0",
      "name": "When Executed by Another Workflow",
      "notes": "Receives full RCA context from K8s RCA AI Workflow: issue_type, severity, affected_namespace, affected_resource, root_cause, suggested_commands, summary."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        264,
        576
      ],
      "id": "662f7160-e345-43f0-bc01-d5c23bdcc903",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "jjFBW6oQqAfXL3Jm",
          "name": "Anthropic account"
        }
      },
      "notes": "Uses Claude Haiku 4.5 (Anthropic cloud). Replace with any Anthropic model slug or swap for an OpenAI/Ollama Chat Model node."
    },
    {
      "parameters": {
        "content": "## 🛠️ K8s Remediation AI Workflow\n\nThe final step in the automation chain. Triggered by K8s RCA AI Workflow after human approval (or auto-approval). Uses **Claude Haiku** to execute the suggested remediation commands and reports the result back to Telegram.\n\n**Flow:**\n1. Receives full RCA context (issue_type, root_cause, suggested_commands, etc.) from K8s RCA AI Workflow\n2. AI Agent executes **only** the suggested commands via the Remediation Tool\n3. Confirms whether the issue resolved, what action was taken, and the current resource state\n4. Sends a 3-line plain-text result to Telegram\n\n**Safety:** Agent is instructed to prefer non-destructive fixes and not delete workloads unless absolutely necessary.",
        "height": 288,
        "width": 812
      },
      "id": "acd6bf1c-9da9-4076-ae6a-c14c9968f24a",
      "name": "Sticky Note — Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## ⚙️ Setup\n\n**1. Anthropic API Key**\nCreate at console.anthropic.com → connect to *Anthropic Chat Model* node.\n\n**2. Telegram Bot**\nCreate via @BotFather → connect to *Send a text message*.\n\n**3. Input Command Workflow**\nThe *Remediation Tool* calls Input Command Workflow to run kubectl/talosctl commands. Ensure it is active.",
        "height": 280,
        "width": 456,
        "color": 3
      },
      "id": "a6e5458a-8ba5-42d5-b808-387906a08228",
      "name": "Sticky Note — Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        0
      ]
    },
    {
      "parameters": {
        "content": "## ⚠️ Write Access\nUnlike diagnostic workflows, the *Remediation Tool* here **can modify cluster state** (scale, restart, patch, delete).\n\nIt only executes the `suggested_commands` from the RCA report — never arbitrary commands.",
        "height": 156,
        "width": 684,
        "color": 2
      },
      "id": "565b97d1-3586-45bf-911a-ccf9bbf70bec",
      "name": "Sticky Note — Safety",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ebbca75-79dd-4aac-a072-047daafe13ad",
              "name": "telegram_chat_id",
              "value": "={{$env.TELEGRAM_CHAT_ID}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        352
      ],
      "id": "6bdd94e1-2f6e-42c3-ae61-8d6852697ca1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "description": "Use this tool to execute either talosctl or kubectl commands to recover the issues identified.",
        "workflowId": {
          "__rl": true,
          "value": "0DpTAgIkwE3WpV6T",
          "mode": "list",
          "cachedResultUrl": "/workflow/0DpTAgIkwE3WpV6T",
          "cachedResultName": "Input Command Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        392,
        576
      ],
      "id": "f295866f-9fdf-40d5-a3e0-ed65a3ac0dec",
      "name": "Remediation Tool"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remediation Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "af67883c-f18a-42d0-b027-fb6706bdf5cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "UKLHBrBqmUfTIcRP",
  "tags": []
}